@import "tailwindcss";

@layer base {
  body {
    @apply bg-linear-to-br from-[#141414] via-[#1a1a1a] to-[#0a0a0a] min-h-screen text-[#e6e6e6];
  }

  .hero-btn {
    @apply py-2 px-6 bg-linear-to-r from-red-600 to-red-700 rounded-lg transition duration-300 hover:scale-105 hover:shadow-xl hover:brightness-90 min-w-[165px] flex items-center justify-center gap-2 cursor-pointer font-medium;
  }

  .text-back {
    @apply bg-clip-text text-transparent;
  }
}
