@import "tailwindcss";

/* HTML elementindeki dark classs'ına göre temayı belirler */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .flex-center {
    @apply flex items-center justify-between;
  }

  .card-label {
    @apply text-sm text-gray-600 dark:text-gray-400;
  }

  .card-value {
    @apply text-gray-900 dark:text-white;
  }

  .card {
    @apply bg-white dark:bg-gray-800 rounded-lg p-4 border border-gray-200 dark:border-gray-700 flex items-center justify-between;
  }
}
