@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  button,
  a {
    @apply cursor-pointer transition duration-300;
  }

  button {
    @apply hover:brightness-90 disabled:brightness-50 disabled:cursor-not-allowed;
  }
}

@layer components {
  .page {
    @apply p-5 md:p-7 lg:px-10;
  }

  .header-link {
    @apply text-lg relative text-gray-700 hover:text-green-600 transition flex items-center gap-2;
  }

  .counter-button {
    @apply p-3 text-gray-600 hover:bg-gray-100 overflow-hidden disabled:bg-zinc-100/20;
  }

  .order-button {
    @apply flex-1 flex items-center justify-center gap-2 text-green-600 border border-green-600 px-4 py-2 rounded-md hover:bg-green-100;
  }
}
