@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

/* Tailwindde değişken tanımlama */
@theme {
  /* Varsayılan fontu değiştirelim */
  --font-sans: "Roboto", sans-serif;
  /* Kendi renk tonlarını tanımla */
  --color-grey: #3f3f3f;
  --color-white: #ffffff;
  --color-black: #0f0f0f;
}

/* JSX Elementlerine varsayılan stiller verelim */
@layer base {
  /* Apply css dosyasında tailwind class'larını kullanmamızı sağlar */
  button,
  a {
    @apply cursor-pointer;
  }

  body {
    @apply bg-black text-white;
  }

  .page {
    @apply h-[calc(100vh-56px)] w-full flex-1 py-6 px-4;
  }
}

/* Tailwind class'ları ile stillendirilmiş kendi class'larını oluşturabiliyoryuz */
@layer components {
  .icon {
    @apply p-2 hover:bg-zinc-700 transition rounded-full text-xl;
  }
}

/* Scrollbar'ları stillendir */
*::-webkit-scrollbar {
  background: #0f0f0f;
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 5px;
  cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
  background: #5b5b5b;
}
